{# This file is part of Living Labs Challenge, see http://living-labs.net.
 #
 # Living Labs Challenge is free software: you can redistribute it and/or modify
 # it under the terms of the GNU Lesser General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # Living Labs Challenge is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU Lesser General Public License for more details.
 #
 # You should have received a copy of the GNU Lesser General Public License
 # along with Living Labs Challenge. If not, see <http://www.gnu.org/licenses/>.
 #}
   {% extends "base.html" %}
   {% block header %}
    	Participants
   {% endblock %}
   {% block content %}
    <table class="table table-striped table-hover ">
    <thead>
    <tr>
    	<th>Teamname</th>
    	<th>Email</th>
    	<th></th>    	
    </tr>
    </thead>
    <tbody>
    {% for participant in participants %}
    <tr>
      <td>{{ participant.teamname }}</td>
      <td>{{ participant.email|urlize }}</td>
      <td><a href="/participant/{{ participant.email}}"><span class="glyphicon glyphicon-circle-arrow-right"></span></a>
      {% if user.is_admin %}
      <a href="/participant/{{ participant.email}}/delete"><span class="glyphicon glyphicon-remove"></span></a>      
      {% if participant.is_verified %}
      <span class="glyphicon glyphicon-eye-open"></span>
      {% else %}
      <a href="/participant/{{ participant.email}}/verify"><span class="glyphicon glyphicon-eye-close"></span></a>      
      {% endif %}
      <a href="/participant/{{ participant.email}}/form"><span class="glyphicon glyphicon-envelope"></span></a>      
      {% if participant.is_admin %}
      <span class="glyphicon glyphicon glyphicon-star"></span>
      {% else %}
      <a href="/participant/{{ participant.email}}/admin"><span class="glyphicon glyphicon glyphicon-star-empty"></span></a>      
      {% endif %}
      {% endif %}
      </td>
  	</tr>
    {% endfor %}
  	</tbody>
	</table> 
   {% endblock %}
