{# This file is part of Living Labs Challenge, see http://living-labs.net.
 #
 # Living Labs Challenge is free software: you can redistribute it and/or modify
 # it under the terms of the GNU Lesser General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # Living Labs Challenge is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU Lesser General Public License for more details.
 #
 # You should have received a copy of the GNU Lesser General Public License
 # along with Living Labs Challenge. If not, see <http://www.gnu.org/licenses/>.
 #}
   {% extends "base.html" %}
   {% block header %}
    	Query details for {{ query._id }}
   {% endblock %}
   {% block content %}
    <table class="table table-striped table-hover ">
    <tbody>
    <tr>
      <td>Qid</td>
      <td>{{ query._id }}</td>
    </tr>
    <tr>
      <td>Site_qid</td>
      <td>{{ query.site_qid }}</td>
    </tr>
    <tr>
      <td>Querystring</td>
      <td>{{ query.qstr }}</td>
    </tr>
    <tr>
      <td>Creation time</td>
      <td>{{ query.creation_time }}</td>
    </tr>
    <tr>
      <td>#docs this query has in the doclist</td>
      <td>{{ query.doclist|length }} ({% for d in query.doclist %} <a href="/site/{{ site._id }}/doc/{{ d }}">{{ d }}</a>, {% endfor %})</td>
    </tr>
  	</tbody>
	</table> 
   {% endblock %}